body{
    background-color: rgb(167, 230, 65);
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
    
}

.sectionstyle{
    float: left;
    margin-left:5px;
    width: 48%;
}

.imgedreen{
    width: 45%;
    height: auto;
}

